/* font */
body{
    font-family: "Lexend", sans-serif;
}
/*nav Style */
nav{
    display: flex;   
    justify-content: space-between;
    align-items: center;
    margin: 0px 100px;
}
.nav-titel{
    font-size: 20px;
    line-height: 22px;
    font: weight 600px; ;
}
.praimary-tag{
    color: #ec6a2b;
}
nav>ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin: 15px;
    font-size: 20px;
}
nav a{
    text-decoration: none;
    color: cadetblue;
}
.btn{
border-radius: 5;
border: none;
background-color: #ec6a2b;
padding: 12px 25px 12px 25px;
color: white;
font-weight: 600;
font-size: 20px;
text-align: center;
}


/* hero section*/

.banner{
    padding-left: 50px 100px 50px 100px;
    display: flex;
    align-items: center;
    margin-left: 100px;
    margin-right:50px ;
}
.banner .hero-pic{
    width: 650px;
    height: 650px;
   }
   .hero-p{
    margin-right: 100px;
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 22px;
    color: #1E262E;
    font-weight: 400;


   }
   .hero-hello{
    font-size: 40px;
    line-height: 42px;
    margin-bottom: 20px;
    color: cadetblue;

   }
.hero-titel{
    font-size: 50px;
    line-height: 55px;
    margin-bottom: 20px;
}
/* about Section*/
.about{
    max-width: 1140px;
    min-height: 90%;
    background-color:#FDF7F2;
    margin: 100px 100px 0px 100px;
}
.about-titel{
    font-size: 35px;
    line-height: 50px;
    color: #1E262E;
    margin-bottom: 20px;
    padding-top: 100px;
    text-align: center;
}
.about-p{
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: dimgray;
    margin:0px 80px 20px 80px ;
    text-align: center;
}
.about-info-conteiner{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.info-titel{
    font-size: 20px;
    line-height: 26px;
    color: #1E262E;
    font-weight: 600;
}
.info-p{
    font-size: 18px;
    color: dimgray;
    font-weight: 400;
    padding-bottom: 100px;
    padding-left: 10px;
    padding-right: 10px;
}
.whatidosection{
    width: 1140px;
    padding: 0px 80px;
}
#what-i-do{
    text-align: center;
    padding: 20px 10px;
}
#skill-image{
    width: 45px;
    height: 45px;
}
.skill-conteiner{
    display: flex;
}
.skill{
    padding: 30px;
    gap: 20px;
}
/*resume section*/
.resume-titel{
    font-size: 28px;
    font-weight: 600;
    color: #ec6a2b;
}
.resume-conteiner{
    display: flex;
    padding: 0px 100px;
    gap: 50px;
}
.resume-item-tite{
    font-size: 24px;
    line-height: 26px;
    font-weight: 700;
    color: cadetblue;

}
.resume-item-info{
    font-size: 20px;
    font-weight: 500;
    line-height: 22px;
    color: #1E262E;
}
.resume-item-p{
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
    padding-right: 20px;
}
.download-cv{
    text-align: center;
    margin: 5%;

}
/* foter section*/
footer{
    display: flex;
    background-color: #FDF7F2;
    width: 100%;
    margin: 0px;
}
.emon{
    width: 50%;
}
.btnp{
    text-align: center;
    
}